<!DOCTYPE html>
<html lang="en">
{% import "macros/table_macros" as table_macros %}
<head>
    <meta charset="UTF-8">
    <title>Ende</title>
</head>
<body>
<p>Du bist auf Platz #{{ placement }} gelandet.</p>
<p>Die Top-3:</p>
<table>
    {{ table_macros::table_headers() }}
    {{ table_macros::score_rows(scores = top_three) }}
</table>
<table>
    {{ table_macros::table_headers() }}
    {{ table_macros::score_rows(scores = higher) }}
    {{ table_macros::score_rows(scores = [user_score]) }}
    {{ table_macros::score_rows(scores = higher) }}
</table>
</body>
</html>