<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ende</title>
</head>
<body>
<p>Du bist auf Platz #{{ placement }} gelandet.</p>
<p>Die Top-3:</p>
<table>
    <tr>
        <th>User</th>
        <th>Punkte</th>
    </tr>
    {% for score in top_three -%}
    <tr>
        <td>{{ score.name }}</td>
        <td>{{ score.points }}</td>
    </tr>
    {%- endfor %}
</table>
<table>
    <tr>
        <th>User</th>
        <th>Punkte</th>
    </tr>
    {% for score in higher -%}
    <tr>
        <td>{{ score.name }}</td>
        <td>{{ score.points }}</td>
    </tr>
    {%- endfor %}
    <tr>
        <td><b>{{ user_score.name }}</b></td>
        <td><b>{{ user_score.points }}</b></td>
    </tr>
    {% for score in lower -%}
    <tr>
        <td>{{ score.name }}</td>
        <td>{{ score.points }}</td>
    </tr>
    {%- endfor %}
</table>
</body>
</html>