<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play</title>
</head>
<body>
<span>{{ category }}</span>
<p>{{ question }}</p>
<form method="post" action="/answer">
{% for ans in answers -%}
<button type="submit" name="answer"
        {% if ans.disabled %}
        disabled
        {% endif %}
        value="{{ ans.string }}">{{ ans.string }}
</button>
{%- endfor %}
</form>
<span>{{ points }}</span>
{% if joker -%}
<a href="/use_joker">use joker</a>
{%- endif %}
<p>Diese Frage wird zu {{ ratio }}% richtig beantwortet.</p>
</body>
</html>